/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
body{
    font-family: "Afacad Flux", sans-serif;
    font-weight: 500;
}
.formelements{
    display: table-caption;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
