<div>
    <h1>Update Product</h1>
    <div>{{productMessage}}</div>
    <div>
        <form #updateProduct="ngForm" (ngSubmit)="submitProductUpdated(updateProduct.value)" class="">
            <div>
                <label for="name">Product Name:</label>
                <input type="text" name="productName" ngModel="{{productData?.productName}}"
                    placeholder="Product Name is required." />
            </div>

            <div>
                <label for="description">Description:</label>
                <textarea type="text" name="description" ngModel="{{productData?.description}}"
                    placeholder="Description is required."></textarea>
            </div>

            <div>
                <label for="price">Price:</label>
                <input type="number" name="price" ngModel="{{productData?.price}}"
                    placeholder=" Price must be a positive number." />
            </div>

            <div>
                <label for="color">Product Colour:</label>
                <input type="text" name="color" ngModel="{{productData?.color}}" placeholder="Colour of Product." />
            </div>

            <div>
                <label for="category">Category:</label>
                <input type="text" name="category" ngModel="{{productData?.category}}"
                    placeholder="Category is required." />
            </div>

            <div>
                <label for="imageUrl">Image URL:</label>
                <input type="text" name="imageurl" ngModel="{{productData?.imageurl}}"
                    placeholder="Image URL is required." />
            </div>

            <button type="submit">Update Product</button>
        </form>
    </div>
</div>